<%- include('partials/header') -%>

<table>
    <thead>
      <tr>
        <th>Location</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= destination.location %></td>
      </tr>
    </tbody>
  </table>
  <br>
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Image</th>
        <th>Category</th>
        <th>Rating</th>
        <th>Price</th>
        <th>Address</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i = 0; i < restaurants.length; i++) { %>
      <tr>
        <form action="/post/addIten" method="POST">
          <input name="name" value="<%= restaurants[i].name %>" readonly>
          <input name="picture"><img src="<%= restaurants[i].image_url %>" alt="gallery">
          <input name="type" value="<%= restaurants[i].categories[0].title %>" readonly>
          <input name="rating" value="<%= restaurants[i].rating %>" readonly>
          <input name="price" value="<%= restaurants[i].price %>" readonly>
          <input name="address" value="<%= restaurants[i].location.display_address %>" readonly>
          <input name="phone" value="<%= restaurants[i].display_phone %>" readonly>
          <input class="add" type="submit" value="Add">
        </form>
      </tr>

      <% } %>
    </tbody>
  </table>


  <script src= "../main.js" type="text/javascript" ></script>
  

<%- include('partials/footer') -%>









