

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>BRB✌️</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Template by FREEHTML5.CO" />
	<meta name="keywords" content="free html5, free template, free bootstrap, html5, css3, mobile first, responsive" />
	<meta name="author" content="FREEHTML5.CO" />

  	<!-- Facebook and Twitter integration -->
	<meta property="og:title" content=""/>
	<meta property="og:image" content=""/>
	<meta property="og:url" content=""/>
	<meta property="og:site_name" content=""/>
	<meta property="og:description" content=""/>
	<meta name="twitter:title" content="" />
	<meta name="twitter:image" content="" />
	<meta name="twitter:url" content="" />
	<meta name="twitter:card" content="" />

	<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
	<link rel="shortcut icon" href="favicon.ico">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700,300' rel='stylesheet' type='text/css'>
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="css1/animate.css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="css1/icomoon.css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="css1/bootstrap.css">
	<!-- Superfish -->
	<link rel="stylesheet" href="css1/superfish.css">
	<!-- Magnific Popup -->
	<link rel="stylesheet" href="css1/magnific-popup.css">
	<!-- Date Picker -->
	<link rel="stylesheet" href="css1/bootstrap-datepicker.min.css">
	<!-- CS Select -->
	<link rel="stylesheet" href="css1/cs-select.css">
	<link rel="stylesheet" href="css1/cs-skin-border.css">
	
	<link rel="stylesheet" href="css1/style.css">
	<link rel="stylesheet" href="/css/style.css">
	<script src="https://kit.fontawesome.com/4c83b50b1e.js" crossorigin="anonymous"></script>


	<!-- Modernizr JS -->
	<script src="js/modernizr-2.6.2.min.js"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		<div id="fh5co-wrapper">
		<div id="fh5co-page">

		<header id="fh5co-header-section" class="sticky-banner">
			<div class="container">
				<div class="nav-header">
					<a href="#" class="js-fh5co-nav-toggle fh5co-nav-toggle dark"><i></i></a>
					<h1 id="fh5co-logo"><a href="/profile"></i><img src="/imgs/brb.png" width="200px" alt=""></a></h1>
					<!-- START #fh5co-menu-wrap -->
					<nav id="fh5co-menu-wrap" role="navigation">
						<ul class="sf-menu" id="fh5co-primary-menu">
							<li class="active"><a href="/profile">Home</a></li>
							<li>
								<a href="/itinerary" class="fh5co-sub-ddown">Itinerary</a>
								<ul class="fh5co-sub-menu">
									<% for(var i=0; i<destinations.length; i++) { %>
										<li><a href="/itinerary/<%= destinations[i].location%>"><%= destinations[i].location %></a></li>
									  <% } %>
								</ul>
							</li>
							<li><a href="hotel.html">Budget</a></li>
							<li><a href="/logout">Logout</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</header>

		<!-- end:header-top -->
	
		<div class="fh5co-hero">
			<div class="fh5co-overlay"></div>
			<div class="fh5co-cover" data-stellar-background-ratio="0.5" style="background-image: url(imgs/lake.jpg);">
				<div class="desc">
					<div class="container">
						<div class="row">
							<div class="col-sm-5 col-md-5">
								<div class="tabulation animate-box">

								  <!-- Nav tabs -->
								   <ul class="nav nav-tabs" role="tablist">
								      <li role="presentation" class="active">
								      	<a href="#flights" aria-controls="flights" role="tab" data-toggle="tab">Flights</a>
								      </li>
								   </ul>

								   <!-- Tab panes -->
									<div class="tab-content">
									 <div role="tabpanel" class="tab-pane active" id="flights">
										<div class="row">
											<form action="/post/addDestination" method="POST">
												<div class="row g-0 custom-search-input-2">
												  <div class="col-lg-4">
													<div class="form-group">
										  
													  <input class="form-control" type="text" placeholder="Where to?" name="location" required>
													  <i class="icon_pin_alt"></i>
										  
													</div>
												  </div>
												  <div class="col-lg-3">
													<div class="form-group">
													  <input class="form-control" type="date" placeholder="When.." name="date" required>
													  <i class="icon_calendar"></i>
													</div>
												  </div>
												  <div class="col-lg-2">
													<input type="submit" class="btn_search" id="plan" value="Start Planning">
												  </div>
												</section>
													
												<br>
												  <h3 class="planned-trips">Planned Trips</h3>
												  <table class="table">
													<thead>
													  <tr>
														<th class="headers">Destination</th>
														<th class="headers">Departing</th>
													  </tr>
													</thead>
										  
													<tbody>
													  <% for(var i=0; i<destinations.length; i++) { %>
														<tr>
														  <td><a href="/post/<%= destinations[i]._id%>"><%= destinations[i].location %></a></td>
														  <td class="table-date"><%= destinations[i].date %></td>


														  <td><form action="/post/deleteDestination/<%= destinations[i]._id%>?_method=DELETE"
															method="POST"
															class="col-3"
															>
															<button class="btn btn-primary fa fa-trash" type="submit"></button>
       													 </form></td>
														  <!-- <td><i class="fa fa-trash" aria-hidden="true"></i></td> -->
														</tr>
													  <% } %>
													</tbody>
												  </table>
										
												</div>
											  </form>
										</div>
									 </div>

									</div>

								</div>
							</div>
							<div class="desc2 animate-box">
								<div class="col-sm-7 col-sm-push-1 col-md-7 col-md-push-1">
									<h2>Plan local outings or travel getaways with ease using BRB to organize and map your itineraries.</h2>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		<div id="fh5co-tours" class="fh5co-section-gray">
			<div class="container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 text-center heading-section animate-box">
						<h3>Indulge your wanderlust with Be Right Back. </h3>
						<p>Disappear into new cuisines, be serenaded by your favorite artist amidst a crowd of strangers, immerse yourself into century-old art and history. or, just relax on a beach mesmerized by the sound of crashing waves. Plan your next escape with Be Right Back: The Ultimate Travel Planner.</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
						<div><img src="imgs/concert.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
							<div class="desc">
								<span></span>
								<h3>Find Concerts</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
						<div href="#"><img src="imgs/eat.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
							<div class="desc">
								<span></span>
								<h3>Find Restaurants</h3>
							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
						<div href="#"><img src="imgs/relax.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
							<div class="desc">
								<span></span>
								<h3>Plan Relaxation</h3>

							</div>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 fh5co-tours animate-box" data-animate-effect="fadeIn">
						<div href="#"><img src="imgs/swing.jpg" alt="Free HTML5 Website Template by FreeHTML5.co" class="img-responsive">
							<div class="desc">
								<span></span>
								<h3>Plan Amusement</h3>
							</div>
						</div>
					</div>
					<div class="col-md-12 text-center animate-box">
					</div>
				</div>
			</div>
		</div>

		
		<footer>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-md-offset-3 text-center">
							<p class="fh5co-social-icons">
								<a href="#"><i class="icon-twitter2"></i></a>
								<a href="#"><i class="icon-facebook2"></i></a>
								<a href="#"><i class="icon-instagram"></i></a>
								<a href="#"><i class="icon-dribbble2"></i></a>
								<a href="#"><i class="icon-youtube"></i></a>
							</p>
							<p>Copyright 2016 Free Html5 <a href="#">Module</a>. All Rights Reserved. <br>Made with <i class="icon-heart3"></i> by <a href="http://freehtml5.co/" target="_blank">Freehtml5.co</a> / Demo Images: <a href="https://unsplash.com/" target="_blank">Unsplash</a></p>
						</div>
					</div>
				</div>
			</div>
		</footer>

	

	</div>
	<!-- END fh5co-page -->

	</div>
	<!-- END fh5co-wrapper -->

	<!-- jQuery -->


	<script src="js1/jquery.min.js"></script>
	<!-- jQuery Easing -->
	<script src="js1/jquery.easing.1.3.js"></script>
	<!-- Bootstrap -->
	<script src="js1/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js1/jquery.waypoints.min.js"></script>
	<script src="js1/sticky.js"></script>

	<!-- Stellar -->
	<script src="js1/jquery.stellar.min.js"></script>
	<!-- Superfish -->
	<script src="js1/hoverIntent.js"></script>
	<script src="js1/superfish.js"></script>
	<!-- Magnific Popup -->
	<script src="js1/jquery.magnific-popup.min.js"></script>
	<script src="js1/magnific-popup-options.js"></script>
	<!-- Date Picker -->
	<script src="js1/bootstrap-datepicker.min.js"></script>
	<!-- CS Select -->
	<script src="js1/classie.js"></script>
	<script src="js1/selectFx.js"></script>
	
	<!-- Main JS -->
	<script src="js1/main.js"></script>

	</body>
</html>

